.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;
  background-color: #cadef2;
}

.container {
  height: 100vh;
}

.sidenav {
  width: 240px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.content {
  padding: 16px;
}


